/* 
    Created on : 04/02/2015, 20:06:16
    Author     : Marcos Vinicius O. Silveira
*/
/************** Common **************************/
*, *:before, *:after{margin: 0; padding: 0;}

.container{float: center; width: 100%;}
.content{width: 70%; margin: 0 15% 0; padding: 10px 0;}
.content-login{width: 45%; margin: 0 15% 0; padding: 10px 0;}

.bg-gray{background-color: #444444; color: #fff;}
.bg-light{background-color: #E6E4D9; color: #444;}


.border{
    -moz-box-shadow: 0 0 2px gray;
    -webkit-box-shadow: 0 0 2px gray;
    box-shadow: 0 0 2px gray;
    border-radius: 5px;
}

/************** End Common **************************/

.input-login{
    margin: auto;
}